:root {
  --height: 400px;
  /* --multiplication-constant: 12.28; */ /* total-width / height */
  --total-width: 4912px;
}

header {
  margin: 30px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
  padding: 20px 20px 10px;
  border: 1px solid black;
}

body {
  background-color: #e9eef1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc( var(--total-width) * -1 ));
  }
}

.slider {
  height: var(--height);
  overflow: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.slider .slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: calc( var(--total-width) * 2 );
}

.slider .slide-track:hover {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

div.slide img {
  height: 400px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li img {
  width: 225px;
  height: 110px;
  margin: 10px;
  border: 1px solid black;
}

li img:hover {
  box-shadow: 5px 5px 5px gray;
  border: 2px solid black;
  filter: brightness(85%);
}

header > a {
  display: inline-block; /* need this to get rid of weird line thing by logo */
}

.navbar {
  display: inline-flex;
  width: 80%;
  border: 1px solid black;
  margin-left: 20px;
}

.nav-item-wrapper {
  flex-grow: 1;
  text-align: center;
}

.nav-item {
  color: black;
}

.nav-item-wrapper:hover .nav-item {
  text-shadow: 0 0 1px blue;
  color: blue;
}
